.title {
  display: flex;
  color: rgb(119, 2, 109);
  justify-content: center;
  padding: 15px;
  font-size: 2rem;
  font-weight: 600;
}

.actions {
  display: flex;
  justify-content: end;
  padding-right: 45px;
  font-size: 2rem;
  font-weight: 600;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;

  input {
    width: 300px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #9b029b;
    background-color: #eee9ed;
    color: #161515;

    &::placeholder {
      color: #868686;
    }

    &:focus {
      outline: none;
      border-color: #aaaaff;
      box-shadow: 0 0 5px #aaaaff;
    }
  }
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 16px;
}

mat-card {
  min-width: 350px;
  min-height: 330px;
  background-color: #3b0a31;
  color: #e0e0ff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.8);
  }
}

mat-card-title {
  font-size: 1.1rem;
  font-weight: 600;
}

mat-card-subtitle {
  color: white;
  font-size: 0.85rem;
  opacity: 0.7;
  padding-bottom: 15px;
}

mat-card img {
  background-color: #ffffff;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 8px;
}

mat-card-content p {
  font-size: 0.85rem;
  line-height: 1.2rem;
  opacity: 0.8;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  padding-top: 35px;

  button {
    color: #c0c0ff;
    font-weight: 500;
  }
}

.no-books {
  color: #aaaaff;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}
